@import "~react-image-gallery/styles/css/image-gallery.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply dark:bg-black dark:text-gray-100 bg-gray-50 text-gray-900
    }

    h1 {
        @apply text-4xl font-bold my-4;
    }

    h2 {
        @apply text-3xl font-semibold my-4;
    }

    h3 {
        @apply text-2xl font-semibold my-4;
    }

    h4 {
        @apply text-xl font-semibold my-4;
    }

    h5 {
        @apply text-lg font-semibold my-4;
    }

    h6 {
        @apply text-base font-semibold my-4;
    }

    blockquote{
        @apply bg-gray-100 border-l-4 border-gray-500 text-gray-700 p-4 dark:text-gray-900;
    }

    table th,td{
        @apply border border-gray-300 p-2;
    }
}

.bilibili, .youtube{
    width: 100%; 
    height: 500px; 
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  